// -------------------------------------
// Zaffo Template: LESS > Variables
// -------------------------------------



// ------------------------------
// #Global Breakpoints
// ------------------------------


@bp-1600: ~"only screen and (max-width: 1600px)";
@bp-1400: ~"only screen and (max-width: 1400px)";
@bp-1300: ~"only screen and (max-width: 1300px)";
@bp-1200: ~"only screen and (max-width: 1200px)";
@bp-1024: ~"only screen and (max-width: 1024px)";
@tablet:  ~"only screen and (max-width: 850px)";
@mobile:  ~"only screen and (max-width: 650px)";




// ------------------------------
// #Value Variables
// ------------------------------


// Site
@value__container--width: 1200px;


// Section Spacing
@value__section-spacing--desktop: 80px;
@value__section-spacing--laptop:  65px;
@value__section-spacing--tablet:  50px;
@value__section-spacing--mobile:  40px;




// ------------------------------
// #Colour  Variables
// ------------------------------


@color__heading: @color__h1--text;
@color__grey: @color__p--text;
@color__gold: #FFB300;

@color__site--border: #e8e8e8;