{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--home">


    <!-- Section 1: Header -->
    {# {% include "sections/header1.twig" %} #}
    {# {% include "sections/header2.twig" %} #}

    <!-- Section 2: Hero -->
    {# {% include "sections/hero1.twig" %} #}
    {# {% include "sections/hero2.twig" %} #}
    {# {% include "sections/header-hero1.twig" %} #}
    {% include "sections/header-hero2.twig" %}

    <!-- Section 3: Abotu Cause -->
    {% include "sections/about-cause1.twig" %}
    {% include "sections/about-cause2.twig" %}
    {% include "sections/about-cause3.twig" %}
    {% include "sections/about-cause4.twig" %}

    <!-- Section 4: About Game -->
    {% include "sections/about-game1.twig" %}
    {% include "sections/about-game2.twig" %}

    <!-- Section 5: Zone -->
    {# {% include "sections/zone.twig" %} #}

    <!-- Section 6: Footer -->
    {% include "sections/footer1.twig" %}


</div>

{% endblock %}
