<!-- Section: About Cause 2 -->
<div class="section  section--light  section__about-cause  section__about-cause--2">
	<div class="container">
		<div class="row  row--gutters-large  row--sb  row--aic">

			<div class="col  col--half  col--align-center">
				<div class="col__wrap">
					{{widget('content', 'about-cause-text1', { content: '
						<h3>About our cause</h3>
						<p>Vestibulum nec sapien et ipsum imperdiet rhoncus. Nullam egestas ultricies vehicula. Pellentesque lobortis blandit nibh alam ipsum thoat.</p>
					'})|raw}}
					<div class="button-group">
						{{widget('button', 'about-cause-button1', {
							'text': 'Play now',
							'action': 'internal',
							'url': '/play'
						})|raw}}
					</div>
				</div>
			</div>
			<div class="col  col--half  col--align-center">
				<div class="col__wrap">
					{{widget('content', 'about-cause-text2', { content: '
						<h3>About our charity</h3>
						<p>Vestibulum nec sapien et ipsum imperdiet rhoncus. Nullam egestas ultricies vehicula. Pellentesque lobortis blandit nibh alam ipsum thoat.</p>
					'})|raw}}
					<div class="button-group">
						<div class="button-group__button  button-group__button--outline">
							{{widget('button', 'about-cause-button2', {
								'text': 'Tell a friend',
								'action': 'internal',
								'url': '/'
							})|raw}}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>