<!-- Section: About Cause 1 -->
<div class="section  section--lightest  section__about-cause  section__about-cause--1">
	<div class="container">
		<div class="row  row--gutters  row--aic  row--2col">

			<div class="col  col--half">
				{{widget('image', 'about-cause1-image1', {
					'src': asset('images/content-image1.jpg'),
					'title': 'Content Image 1'
				})|raw}}
			</div>
			<div class="col  col--half  col--offset-left">
				{{widget('content', 'about-cause1-text1', { content: '
					<h3>About our cause</h3>
					<p>Vestibulum nec sapien et ipsum imperdiet rhoncus. Nullam egestas ultricies vehicula. Pellentesque lobortis blandit nibh, vel interdum ipsum blandit consequat. Vestibulum nec sapien et ipsum imperdiet rhoncus.</p>
				'})|raw}}
				<div class="button-group  button-group--dual">
					<div class="button-group__button">
						{{widget('button', 'about-cause1-button1', {
							'text': 'Play now',
							'action': 'internal',
							'url': '/play'
						})|raw}}
					</div>
					<div class="button-group__button  button-group__button--outline">
						{{widget('button', 'about-cause1-button2', {
							'text': 'Tell a friend',
							'action': 'internal',
							'url': '/'
						})|raw}}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
