<!-- Section: Hero 1 -->
<div class="hero  hero-header--1">

	<!-- Header -->
	<header class="header  header--transparent  header--1">
		<div class="container">
			<div class="row  row--sb  row--aic">

				<div class="header__item  header__item--logo">
					{{widget('logo', 'site-logo', {
					  'defaultlogo': asset('images/placeholder-logo--trans.svg')
					})|raw}}
				</div>

				<div class="header__item  header__item--navigation">
					<nav class="site-nav">
						<ul class="site-nav__list">
							<li class="nav-list__item">
								<a href="/about-cause" class="nav-list__link  {% if page.title == "About Cause" %}  nav-list__link--selected{% endif %}">About Cause</a>
							</li>
							<li class="nav-list__item">
								<a href="/about-game" class="nav-list__link  {% if page.title == "About Game / Prize" %}  nav-list__link--selected{% endif %}">About Game / Prize</a>
							</li>
							<li class="nav-list__item  nav-list__item--button">
								<a href="/play" class="button  button--outline  button--outline-white">Play now</a>
							</li>
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>


	<!-- Feature -->
	{{widget('feature', 'header-hero1-feature', {
		'header': 'Win up to £25,000 in our weekly lottery!',
		'strapline': 'Tickets are just £1 and every one will help change lives.',
		'defaultBgImg': asset('images/hero-image.jpg'),
		'showBtn': true,
		'buttonText': 'Play now',
		'action': 'internal',
		'url': '/play'
	})|raw}}


	<!-- Powered By Logo -->
	<div class="powered-by">
		<img src="{{ asset('/images/powered-by--trans.png') }}" alt="Powered by Zaffo">
	</div>


</div>