<!-- Section: Hero 1 -->
<div class="hero  hero--1">

	{{widget('feature', 'hero', {
		'header': 'Win up to £25,000 in our weekly lottery!',
		'strapline': 'Tickets are just £1 and every one will help change lives.',
		'defaultBgImg': asset('images/hero-image.jpg'),
		'showBtn': true,
		'buttonText': 'Play now',
		'action': 'internal',
		'url': '/play'
	})|raw}}

</div>
